.principalContainerCursos{
    width: 100%;
    height: 100%;

}
.cursosContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dataContainerCursos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cursosList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: .4rem;
}

.dataContainerCursos h3{
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}